.content {
  max-width: 500px;
  margin: auto;
}
.tables {
  margin: auto;
}
table {
  border: 1px solid;
  border-spacing: 0px
}

#board tr td {
  border: 1px solid;
  border-spacing: 0px;
  height: 100px;
  width: 100px;
  font-size: 3em;
  text-align: center;
}

#scoreBoard tr td {
  width: 50px;
  font-size: 1.2em;
  text-align: center;
}

#whoseTurn {
  font-size: 1.2em
}

#reset {
  font-style: bold;
  background-color: lightgray
}
